.star-rating {
  display: flex;
  width: 120px;
  height: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.star-container {
  cursor: pointer;
  width: 22px;
}

.star {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-color: rgba(201, 201, 201);
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.star.selected {
  background-color: #fcd200;
  box-shadow: 0px 0px 8px 1px #503838 inset;
}
